.details-view {
  padding: 20px 50px 35px;
  background: white;
  border-radius: 5px;

  .details-row {
    width: 100%;
    div {
      .box-element {
        border-bottom: 1px solid #f0f0f0;
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        .info-name {
          font-weight: bold;
        }
        .info-value {
          font-weight: 400;
          text-align: right;
        }
      }
    }
  }
}
